# Credentials - НЕ коммитить в репозиторий!
# Все файлы в этой директории содержат секретные ключи

# Google Play
google-play-service-account.json
*.json

# Apple
*.p8
*.p12
*.mobileprovision
*.cer

# Keystore
*.keystore
*.jks

# Все файлы кроме README
*
!.gitignore
!README.md
